/* 초기화 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 전체 배경, 글자색 */
body {
    background-color: #fff8f0;
    color: #555555;
}

/* 헤더 */
header {
    background-color: #ffb6c1;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav li {
    margin-left: 10px;
}

nav a {
    text-decoration: none;
    color: #555555;
    background-color: white;
    padding: 8px 16px;
    border-radius: 20px;
    display: inline-block;
    transition: 0.3s;
}

nav a:hover {
    background-color: #fff3a3;
    transform: translateY(-5px);
}

/* 섹션 */
section {
    height: 100vh;
    padding: 50px;
}

#about {
    background-color: #fff3a3;
}

#skills {
    background-color: #b8f2e6;
}


#projects {
    background-color: #a0d8ff;
}

#contact {
    background-color: #e6d7ff;
}


footer {
    text-align: center;
    padding: 20px;
}